<div class="error">
  <link rel="stylesheet" href="/styles/error.css" type="text/css" />
  <h1>Error 401!

    You're not allowed here!
    Please sign in or register to view this page.

  </h1>

  <div>
    <a class="error-item-link" href="/login">Sign In</a>
    <a class="error-item-link" href="/register">Register</a>
  </div>

</div>
