<footer>
  <div class="copy-logo">
    <h3>Beerventure</h3>
    <p class="copyright"> 2021</p>
    <a href="/register">Privacy - Terms</a>
  </div>
  <div class="footerlinks">
    <a href="/products">Products</a>
    <a href="/products/beer">Beer</a>
    <a href="/products/cider">Cider</a>
  </div>
  <div class="footerlinks">
    <a href="/featureditems">Featured Items</a>
    <a href="/arrivals">New Arrivals</a>
    <a href="/surprise">surprise Me</a>
  </div>
  <div class="footerlinks">
    <a href="/accounts">Accounts</a>
    <a href="/drinkers">For Drinkers</a>
    <a href="/sellers">For Sellers</a>
  </div>
</footer>
