<footer>
  <link rel="stylesheet" href="/styles/footer.css" type="text/css" />
  <div class="copy-logo">
    <h3>Beerventure</h3>
    <p class="copyright"> 2021</p>
  </div>
  <div class="footerlinks">
    <a href="/search">Find Products</a>
  </div>
  <div class="footerlinks">
    <a href="/">Featured Items</a>
  </div>
  <div class="footerlinks">
    <a href="/profile">Profile</a>
  </div>
</footer>
