
<head>

</head>


<header class="hero">
  <div class="overlay">

    <link rel="stylesheet" href="/styles/hero.css" type="text/css" />

      <% if (userObject && userObject.vendor) { %>

      <div class="hero-content">

        <h2>Hello <%= userObject.name %></h2>
        <br>
        <h6>Manage your items for sale</h6>

        <%- include('_post_item') %>
      </div>


      <% } else { %>

      <div class="hero-content">
        <div class="hero-left">
          <h2>Thirsty for adventure?</h2>
          <p>
            Blurb about finding beer and cider local to user.
            Who we are and what the site does.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </p>
        </div>

        <div class="hero-right">
          <form method="get" action="/search" class="hero-form">
            <label class="auto-location-result" for="hero-input-city">Thirsty? Lets see whats to drink in your city.</label>
            <button type="submit" class="btn">Find Products Near You</button>
          </form>
        </div>

      <% } %>



    </div>
  </div>

</header>

