
<header class="hero">


  <div>

  </div>


  <div class="hero-content">

    <div class="hero-left">

      <div>
        <h2>Thirsty for adventure?</h2>
      </div>
      <div class="hero-message">
        <p>Blurb about finding beer and cider local to user.
          Who we are and what the site does.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>


    <div class="hero-right">

      <form method="post" action="/TBD" class="hero-form">
        <div class="city-input">
          <label
          class="auto-location-result"
          for="hero-input-city"
          >Looks like you're in &lt;IP API &gt;
        </label>
        <textarea
        name="hero"
        id="hero-input-city"
        placeholder="Change city"
        class="hero-text-field"
        ></textarea>
      </div>
      <div class="city-submit-btn">
        <button type="submit" class="btn">Update Location</button>
      </div>
      </form>
    </div>
  </div>




</header>

