<nav class="nav-bar">
  <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />
  <span id="title">
    <a id="home" href='/'><h2>Beerventure</h2></a>
  </span>
  <div id="nav-middle">
  <a class="nav-bar-links" id="discover" href='/discover'>Discover</a>
  <a class="nav-bar-links" id="favourites" href='/favourites'>Favourites</a>
  <a class="nav-bar-links" id="messages" href='/messages'>Messages</a>
  <a class="nav-bar-links" id="profile" href='/profile'>Profile</a>
  <a class="nav-bar-links" id="sell" href='/sell'>Sell</a>
  </div>
  <span id="sign-up-nav">
    <button id="sign-up-button">Sign up</button>
  </span>
</span>
</nav>
