<nav class="nav-bar">
  <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />
  <span id="title">
    <h2>Beer Venture</h2>
  </span>
  <div id="nav-middle">
  <span id="discover">Discover</span>
  <span id="favourites">Favourites</span>
  <span id="messages">Messages</span>
  <span id="profile">Profile</span>
  <span id="sell">Sell</span>
  </div>
  <span id="sign-up-nav">
    <button id="sign-up-button">Sign up</button>
  </span>
</nav>
