<head>
  <link rel="stylesheet" href="/styles/hero.css" type="text/css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    $(document).ready(function(event){
      $('.new-item-slide').slideUp();
      
      $('.reveal').click(function(event) {
        $('.new-item-slide').css("visibility", "visible");

        const $postItemForm = $('.new-item-slide');

        if ($postItemForm.is(':visible')) {
          $postItemForm.slideUp();
          $('#hide-button').css("visibility", "hidden");
          $('#reveal-button').css("visibility", "visible");

        } else {
          $postItemForm.slideDown();
          $('#hide-button').css("visibility", "visible");
          $('#reveal-button').css("visibility", "hidden");
          $('.new-item-slide').css("visibility", "visible");
        }
      });

    });

  </script>
</head>

<header>

  <main>
    <div class="reveal-hide">
      <button id="reveal-button" class="btn reveal">Post New Item</button>
    </div>
    <div class="reveal-hide">
      <button id="hide-button" class="btn reveal">Hide ^</button>
    </div>

    <section class="new-item-slide">
      <form class="form" method="POST" action="/vendors/new_item">

        <div class="right-side">
          <input type="text" name="name" placeholder="Item Name" required>
          <br>
          <input type="text" name="description" placeholder="Product description, Tasting or pairing notes">
          <br>
          <input type="text" name="price" placeholder="Price" required>
          <br>
          <input type="text" name="category" placeholder="category" required>
          <br>
          <input type="text" name="abv" placeholder="Alcohol Content (%)" required>
          <br>
          <input type="text" name="mliter" placeholder="Volume (mL)" required>
          <br>
        </div>

        <div class="left-side">

          <label for="imageFile">Upload a photo:</label>
          <br>
          <input type="file" id="imageFile" capture="environment" accept="image/*" required>
          <br>
          <label for="featured-check">Make this a featured Item</label>
          <br>
          <input type="checkbox" id="featured_check" name="featured_check">
          <br>
          <button class="btn" type="submit">Add New Item</button>
          <br>
        </div>
      </form>
    </section>

    <br>

  </main>

</header>

