
<header class="hero">
  <div class="overlay">

    <link rel="stylesheet" href="/styles/hero.css" type="text/css" />



      <div class="hero-content">
        <div class="hero-left">

        <h2>Hello <%= userObject.name %></h2>
        <br>
        <h2>Manage your items for sale</h2>
        </div>
      </div>



      <div class="hero-content">
        <div class="hero-left">
          <h2>Thirsty for adventure?</h2>
          <p>
            Blurb about finding beer and cider local to user.
            Who we are and what the site does.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </p>
        </div>




        <!-- Start -->
        <main>

          <h3>Post a New Item</h3>
      
          <form method="POST" action="/vendors/new_item">
            <input type="text" name="name" placeholder="Item Name" required>
            <br>
            <input type="text" name="description" placeholder="Product description, Tasting or pairing notes">
            <br>
            <input type="text" name="price" placeholder="Price" required>
            <br>
            <input type="text" name="category" placeholder="category" required>
            <br>
            <input type="text" name="abv" placeholder="Alcohol Content (%)" required>
            <br>
            <input type="text" name="mliter" placeholder="Volume (mL)" required>
            <br>
            <input type="text" name="image" placeholder="Product Image URL">
            <br>
            <label for="imageFile">Upload a photo:</label>
	          <input type="file" id="imageFile" capture="environment" accept="image/*" required>
            <br>
            <label for="featured-check">Make this a featured Item</label>
            <br>
            <input type="checkbox" id="featured-check" name="featured-check">
            <br>
            <button type="submit">Add New Item</button>
          </form>
      
          <br>
      
        </main>





        <!-- End -->







    </div>
  </div>

</header>

