<!doctype html>

<html lang="en">
<head>
  <!-- internal css -->
  <!-- <link rel="stylesheet" href="css/styles.css?v=1.0"> -->

  <!-- internal js -->
  <!-- <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script> -->

  <!-- external css -->

  <!-- external js -->

</head>

<body>
  <h1>Profile page</h1>
  <!-- your content here... -->
  <script src="js/scripts.js"></script>

  
    <%- include('partials/_footer'); %>



</body>
</html>
