<!doctype html>

<html lang="en">
<head>
  <!-- internal css -->
  <link rel="stylesheet" href="/styles/messages.css" type="text/css" />

  <!-- internal js -->
  <!-- <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script> -->

  <!-- external css -->

  <!-- external js -->

</head>

<body>
  <%- include('partials/_navbar') %>
  <h1>Messages Page</h1>
  <!-- your content here... -->

  <% for (let message of messages) { %>

  <div class="message-page">
    <!-- <tr>
      <td><th scope="col">Conversations</th></td>
      <td><th scope="col">Messages</th></td>
    </tr> -->

    <div class="sidebar">
      <p>Vendor Name</p>
      <a href='#'><%= message.name %></a>
    </div>
    <div class="convos">
      <p><%= message.message %></p>
      <form action="/api/messages" method="POST">
        <h5>Reply</h5>
        <input type="text" placeholder="Type message here..." />
        <button type="submit" class="btn btn-primary">Send Message</button>
      </form>
    </div>

    <!-- </tr> -->

  </div>
  <% } %>


  <%- include('partials/_footer'); %>


</body>
</html>
