<!doctype html>

<html lang="en">
<head>
  <!-- internal css -->
  <!-- <link rel="stylesheet" href="css/styles.css?v=1.0"> -->

  <!-- internal js -->
  <!-- <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script> -->

  <!-- external css -->

  <!-- external js -->

</head>

<body>
  <%- include('partials/_navbar') %>
  <br>
  <br>
  <h1>Register New User Page</h1>
  <!-- your content here... -->

  <main>

    <h3>Join in on the adventure</h3>

    <form method="POST" action="/login">
      <input type="email" name="email" placeholder="email"/>
      <br>
      <input type="password" name="password" placeholder="password"/>
      <br>
      <button type="submit">Login</button>
    </form>

    <br>

  </main>






  <%- include('partials/_footer'); %>


</body>
</html>
