<!doctype html>

<html lang="en">
<head>
  <!-- internal css -->
  <link rel="stylesheet" href="/styles/messages.css" type="text/css" />

  <!-- internal js -->
  <!-- <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script> -->
  <script type="text/javascript" src="/scripts/app.js"></script>

  <!-- external css -->

  <!-- external js -->

</head>

<body>
  <%- include('partials/_navbar') %>
  <h1>Messages Page</h1>
  <!-- your content here... -->

  <div class="message-page">
    <div class="sidebar">
      <p>person1</p>
      <p>person2</p>
    </div>

    <div class="convos">
      <p> Message</p>
      <p> message</p>
    </div>

  </div>


  <%- include('partials/_footer'); %>


</body>
</html>
