<!doctype html>

<html lang="en">
<head>
  <!-- internal css -->
  <!-- <link rel="stylesheet" href="css/styles.css?v=1.0"> -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />

  <!-- internal js -->
  <!-- <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script> -->

  <!-- external css -->

  <!-- external js -->

</head>

<body>
  <%- include('partials/_navbar') %>
  <br>
  <br>
  <h1>Register New User Page</h1>
  <!-- your content here... -->

  <main>

    <h3>Join in on the adventure</h3>

    <form method="POST" action="/register">
      <input type="text" name="name" placeholder="Name" required>
      <br>
      <input type="email" name="email" placeholder="Email" required>
      <br>
      <input type="password" name="password" placeholder="Password" required>
      <br>
      <input type="tel" name="phone" placeholder="Phone number -> 123-456-7890"
      pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
      <br>
      <button type="submit">Register</button>
    </form>

    <br>

  </main>






  <%- include('partials/_footer'); %>


</body>
</html>
