<!doctype html>

<html lang="en">
<head>
  <!-- internal css -->
  <link rel="stylesheet" href="/styles/messages.css" type="text/css" />

  <!-- internal js -->
  <!-- <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script> -->

  <!-- external css -->

  <!-- external js -->

</head>

<body>
  <%- include('partials/_navbar') %>

  <% if (!userEmail) { %>
  <%- include('partials/_error') %>
  <% } else { %>

    <h1>My Messages</h1>

  
    <section id="messages-container">






  <%- include('partials/_footer'); %>



</body>
</html>
