<!doctype html>

<html lang="en">
<head>
  <!-- internal css -->
  <link rel="stylesheet" href="/styles/messages.css" type="text/css" />

  <!-- internal js -->
  <!-- <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script> -->

  <!-- external css -->

  <!-- external js -->

</head>

<body>
  <%- include('partials/_navbar') %>
  <h1>Messages Page</h1>
  <!-- your content here... -->
  <% for (let message of messages) { %>

  <div class="message-page">
    <!-- <tr>
      <td><th scope="col">Conversations</th></td>
      <td><th scope="col">Messages</th></td>
    </tr> -->


      <div class="sidebar">
        <td><p>Vendor Name</p></td>
        <td><a href='#'><%= message.name %></a></td>
      </div>

      <div class="convos">
        <td><p><%= message.message %></p></td>

        <form action="/login" method="POST">

          <h5>Reply</h5>
          <input type="text" placeholder="Type message here..." />


        </form>



      </div>

    <!-- </tr> -->

  </div>
  <% } %>


  <%- include('partials/_footer'); %>


</body>
</html>
