<!doctype html>

<html lang="en">
<head>
  <!-- internal css -->
  <!-- <link rel="stylesheet" href="css/styles.css?v=1.0"> -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css">

  <!-- internal js -->
  <!-- <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script> -->

  <!-- external css -->

  <!-- external js -->

</head>

<body>

  <% if (userObject) { %>
    <%-include('partials/_navbarSignedIn') %>
    <% } else { %>
    <%- include('partials/_navbar') %>
    <% } %>


  <h1>Profile page</h1>
  <!-- your content here... -->
  <h1>Welcome Back!</h1>

  <p>Favourites</p>
  <a class="messages-after-signin" id="messages-link" href='/messages'>messages</a>

  <div class="msg-vendor">
    CONTACT ME (vendor contact user)
    <form action="/profile" method="POST">
      Name:<br>
      <input type="text" name="name"><br><br>
      Message:<br>
      <textarea name="message" placeholder="Describe your item..."></textarea>
      <br><br>
      <button type="submit">Send Message</button>

    </form>

  </div>

  <%- include('partials/_footer'); %>

</body>

</html>
