.login-title {
  padding: 0em 3.5em;
}

.login-register-main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  width: 90%;
  padding: 2em 2em;

  .greeting {
    padding: 1.8em 0em;
  }

  input {
    margin: 1em 0em;
    height: 50px;
  }

  button {
    border: none;
    background-color: #181f1c;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    padding: 12px 28px;
    margin-top: 1em;
  }

  .user-login {
    padding: 0em 2em;
    background-color: #7dba84;

    display: flex;
    flex-direction: column;
    align-items: center;

    .user-submit {
      display: flex;
      flex-direction: column;
      align-items: center;

      padding-bottom: 1em;
    }
  }

  .vendor-login {
    padding: 0em 2.5em;
    background-color: #7dba84;

    display: flex;
    flex-direction: column;
    align-items: center;

    .vendor-submit {
      display: flex;
      flex-direction: column;
      align-items: center;

      padding-bottom: 1em;
    }
  }


  .neither {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #8fd694;
    padding: 4em 1.5em;

    #prompt {
      padding-bottom: 1em;
      padding-top: 2em
    }


    button {
      border: none;
      background-color: #181f1c;
      color: white;
      font-weight: bold;
      border-radius: 8px;
      padding: 12px 28px;
    }

    .btn &.btn-info {
      margin-top: 1em;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}
