.title-of-page {
  margin-left: 6%;
}

.message-page {

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;

  width: 90%;
  margin-left: 5%;
  margin-bottom: 1em;

  font-weight: bold;

  .title-of-page {
    margin-left: 6%;
  }

  .new-message {
    display: flex;
    flex-direction: column;

    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 2em;

    width: 30%;

    background-color: #8fd694;
    margin: 0em 1em;
    margin-right: 3em;

    border-radius: 16px;

    #start-new-convo {
      margin:auto;
      padding-top: 1em;
    }

    .new-message-form {
      margin: 0.3em 0.3em;

      #name {
        width: 100%;
      }

      textarea {
        width: 100%;
      }
    }

    button {
      border: none;
      background-color: black;
      color: white;
      font-weight: bold;
      border-radius: 8px;
      padding: 12px 28px;
    }
  }

  .sent-messages {
    display: flex;
    flex-direction: column;
    width: 70%;

    .convo-box {

      margin-bottom: 2em;
      background: #7dba84;

      .convo-title {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 1em 1em;
        background-color: black;
        color: white;

      }
      .convos {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0em 0.5em;
        padding: 1em 0.5em;
        background-color: #E0E0E0;

        .actual-msg {
          border: 1px solid rgb(165, 165, 165) !important;
          margin: 0.2em 0em;
          padding: 0em 1em;
          border-radius: 16px;
          background-color: white;
          width: 80%;

          &.you {
            align-self: flex-end;
            background-color: #C4FFCB;
          }

          &.notyou {
            align-self: flex-start;
          }
        }

      }

      .send-message {
        display:flex;
        justify-content: space-between;
        padding: 1em 1em;
        margin: 0em 1em;


        .msg {
          width: 80%;
        }

        button {
          border: none;
          background-color: black;
          color: white;
          font-weight: bold;
          border-radius: 8px;
          padding: 12px 28px;

        }
      }

    }


  }

}

