.message-page {
  display: flex;
  border: 1px #ccc solid;
	background: lightgrey;

  .sidebar {
    display: flex;
    border: 1px red solid;
    width: 20%;
  }

  .convo {
    display: flex;
    border: 1px red solid;
    width: 80%
  }
}
