.message-page {
  display: flex;
  background: #E0E0E0;
  border: 2px black solid;
  margin-bottom: 1em;
  width: 90%;
  margin-left: 5%;
  font-weight: bold;

  .sidebar {
    display: flex;
    flex-direction: column;
    width: 20%;
    border-right: 2px rgb(107, 106, 106) solid;
    align-items: center;
  }

  .convos {
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em 1em;

    .send-message {
      display:flex;
      justify-content: space-between;


      button {
        border: none;
        background-color: black;
        color: white;
        font-weight: bold;
        border-radius: 8px;
        padding: 12px 28px;
      }
    }
  }
}
