.nav-bar {
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 0;
  height: 60px;
  width: 100%;
  margin: 0px;
  background-color: #181F1C;
}

.nav-bar #title {
  margin-left: 20px;
  text-align: center;
}

#home {
  text-decoration: none;
    color: white;
  font-size: 30px;
}

.nav-bar #nav-middle {
  width: 40%;
  display:flex;
  justify-content: space-around;
  text-align: center;
}

.nav-bar #sign-up-button {
  margin-right: 20px;
  color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	background: #cf995f;
	padding: 10px;
	border: none;
	transition: all 0.4s ease 0s;
  float: right;
}

.nav-bar #sign-up-button:hover {
	background: #434343;
	letter-spacing: 1px;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}

.nav-bar #sign-in-button {
  margin-right: 20px;
  color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	background: #cf995f;
	padding: 10px;
	border: none;
	transition: all 0.4s ease 0s;
  float: right;
}

.nav-bar #sign-in-button:hover {
	background: #434343;
	letter-spacing: 1px;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}



.nav-bar-links {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-bar-links:hover {
	letter-spacing: 2px;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
  color: #434343;
}
