.products {
  border: 1px red solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  // width: 90%;
  height: 420px;
  width: 270px;
  .more-info {
    size: 100px;
  }
  // .nonfeatured-items {
  //   border: 1px red solid;
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   width: 90%;
  //   padding-bottom: 1em;
  // }
  .featured-items {
    border: 1px red solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding-bottom: 1em;
  }
  .product-image {
    height: 200px;
  }
}





