.search-bar {
  display: flex;
  padding: 100px;
  border-bottom: 2px solid black;
  margin-bottom: 20px;
  height: 100px;
}

#search-city {
  width: 100%;
}

.search-result {
  padding-left: 300px;
  padding-right: 200px;
  display: block;
  height: 250px;
  border-left: 1px solid black;
}

#search-image {
  height: 215px;
  float: left;
  margin: 1em;
  width: 185px;
}

.info-container {
  display: block;
  height: 100%;
  border: 1px solid black;
}

