
.search-bar {
  display: flex;
  padding: 50px;
  border: 2px solid black;
  margin-bottom: 20px;
  height: 100px;
}

.search-result {
  border: 2px solid black;
  height: 250px;
}

#search-image {
  height: 100px;
  float: left;
  margin: 1em;
}

.info-container {
  border: 2px solid black;
  height: 100%;
}
